.block__messages {
	max-height: 82vh;
	padding: 15px 5px 15px 15px;
	margin-right: 10px;
	height: 100%;
	position: relative;
	background-color: var(--bgBlocksColor);
	overflow-y:auto;
	overflow-x: hidden;
	transition: all .3s;
	//width: 100%;

	.button__down{
		width: 100%;
		display: flex;
		position: sticky;
		bottom: 0;
		justify-content: flex-end;

		span{
			display: flex;
			font-size: 24px;
			padding: 8px;
			border-radius: 50%;
			background-color: var(--navigate-color);
			border: 1px solid var(--borderColor);
			color: var(--decription-color);
			transition: all 0.3s;
			cursor: pointer;

			svg{
				transition: all 0.3s;
			}

			&:hover{
				background-color: var(--borderColor);
				svg{
					transform: translateY(3px);
				}
			}
		}






	}

	&::-webkit-scrollbar-track {
		transition: all .3s;
		border-radius: 4px;

	}
	&::-webkit-scrollbar {
		transition: all .3s;
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		transition: all .3s;
		border-radius: 4px;
		background: transparent;

	}

	&:hover{
		overflow: auto;
		&::-webkit-scrollbar-track {border-radius: 4px;}
		&::-webkit-scrollbar {width: 4px;}
		&::-webkit-scrollbar-thumb {border-radius: 4px;background: rgba(255, 255, 255, 0.5442);}
	}
}




