.popover__wrapper{
  position: relative;
  color: var(--descriptionColor);
  button{
    width: 100%;
  }
}

.popover__panel{
  position: absolute;
  left: 100px;
  top: 32px;
  z-index: 10;
  width: 350px;
  height: 450px;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  //box-shadow: 0 0 10px 0px var(--bgColor);
  background-color: var(--bgBlocksColor);
}

.list__notification{

}


.item__notification{

}


@media (max-width: 768px) {
  .popover__wrapper{
    width: 100%;
  }

.popover__panel{
  bottom: 48px;
  left: -230px;
  top: auto;
  width: 380px;

}

}