.popover__wrapper{
  position: relative;
  color: var(--color--text--main);
  button{
    width: 100%;
    cursor: pointer;
  }
}

.popover__panel{
  position: absolute;
  left: 100px;
  top: 32px;
  z-index: 13;
  width: 350px;
  height: 450px;
  border-radius: 12px;
  border: 1px solid var(--border--block);
  background-color: var(--background--content);
}

.list__notification{

}


.item__notification{

}


@media (max-width: 768px) {
  .popover__wrapper{
    width: 100%;
  }

.popover__panel{
  bottom: 48px;
  left: -230px;
  top: auto;
  width: 380px;

}

}