.Font--8 {
	font-size: 8px;
}

.Font--9 {
	font-size: 9px;

}

.Font--10 {
	font-size: 10px;

}

.Font--11 {
	font-size: 11px;

}

.Font--12 {
	font-size: 12px;

}

.Font--13 {
	font-size: 13px;

}

.Font--14 {
	font-size: 14px;

}

.Font--16 {
	font-size: 16px;

}

.Font--17 {
	font-size: 17px;

}

.Font--18 {
	font-size: 18px;

}

.Font--19 {
	font-size: 19px;

}

.Font--20 {
	font-size: 20px;

}

.Font--21 {
	font-size: 21px;

}

.Font--22 {
	font-size: 22px;

}

.Font--23 {
	font-size: 23px;

}

.Font--24 {
	font-size: 24px;
}