.Font--10 {
  font-size: var(--fontSize-xxs);
}

.Font--12 {
  font-size: var(--fontSize-xs);
}

.Font--14 {
  font-size: var(--fontSize-sm);
}

.Font--16 {
  font-size: var(--fontSize-md);
}

.Font--18 {
  font-size: var(--fontSize-lg);
}

.Font--20 {
  font-size: var(--fontSize-xl);
}

.Font--24 {
  font-size: var(--fontSize-xl2);
}
