.wrapper__friends{
	width: 70%;
}

.nav__block{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-left: var(--marginBlock);

}

.friend__page{
	width: 100%;
	display: flex;
}

@media (max-width: 768px){
	.nav__block{
		width: 100%;
		margin: 0;
	}
	.wrapper__friends{
		width: 100%;
	}
	.friend__page{
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
}