.wrapper {
	color: #FFFFFF;
	padding: 30px 15px 20px 15px;
	border-radius: 16px;
	border: 1px solid #434343;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: var(--background--content);


	.wrapper__header {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-weight: 500;
			border: 1px solid #434343;
			border-radius: 8px;
			background-color: #333333;
			padding: 5px;
			font-size: 13px;
			color: var(--color--text--main);

		}

		a {
			color: var(--secondColor);
			text-decoration: none;
			font-size: 13px;
			display: flex;
			align-items: center;


			svg {
				width: 18px;
				height: 18px;
				fill: #e1e3e6;
				transition: all 0.3s;
			}

			&:hover {
				text-decoration: underline;

				svg {
					transform: translateX(5px);
				}
			}
		}
	}
}


.wrapper__header {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-weight: 500;
		border: 1px solid #434343;
		border-radius: 8px;
		background-color: #333333;
		padding: 5px;
		font-size: 13px;
		color: var(--color--text--main);

	}

	a {
		color: var(--secondColor);
		text-decoration: none;
		font-size: 13px;
		display: flex;
		align-items: center;


		svg {
			width: 18px;
			height: 18px;
			fill: #e1e3e6;
			transition: all 0.3s;
		}

		&:hover {
			text-decoration: underline;

			svg {
				transform: translateX(5px);
			}
		}
	}
}


@media (max-width: 768px) {
	.wrapper {
		margin: 0;
		padding-bottom: 0;
		border-radius: 0;
		border: none;

		.wrapper__header {
			span {
				padding: 0;
				text-transform: uppercase;
				border-radius: 0;
				border: none;
				background-color: transparent;
			}
		}
	}
	.wrapper__requests {
		padding: 0;
		margin: 0;
		border-radius: 0;
		border: none;

		.wrapper__header {
			span {
				padding: 0;

				text-transform: uppercase;
				border-radius: 0;
				border: none;
				background-color: transparent;
			}
		}
	}


}