
.form {
  display: flex;
  flex-direction: column;

  textarea {
    margin-top: 20px;
    background: var(--bgColor);
    color: var(--color--text--main);
    background-color: var(--background--content--second);
    resize: none;
    outline: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid var(--border--block);
  }
}

.wrapper__info__user {
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .info__user {
    h3 {
      color: #FFFFFF;
      font-size: 16px;
    }
  }
}
