.text{
  color: var(--color--text--main);
  font-size: 13px;

  &__medium{
    font-weight: var(--fontWeight);
  }

  &__button{
    cursor: pointer;
    color: var(--secondColor);
    &:hover{
      text-decoration: underline;
    }
  }

}




