.text{
  color: var(--color--text--main);
  cursor: default;
  &__medium{
    font-weight: var(--fontWeight);
  }

  &__button{
    cursor: pointer;
    color: var(--secondColor);
    &:hover{
      text-decoration: underline;
    }
  }

}

.cursor{
  cursor: pointer;
}




