@charset "UTF-8";
.wrapper {
  width: 50%;
  flex-grow: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 9px 9px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__input {
  width: 100%;
  padding: 20px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input input {
  border: 1px solid #1a73e8;
  outline: none;
  width: 85%;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s;
}
.input svg {
  width: 24px;
  height: 24px;
  fill: #1a73e8;
  transition: all 0.3s;
}
.input svg:hover {
  transform: rotate(15deg) scale(1.1);
}

.download__file {
  transform: rotate(45deg);
  cursor: pointer;
}
.download__file svg {
  transition: all 0.3s;
  width: 24px;
  height: 24px;
  fill: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.download__file svg:hover {
  transform: rotate(-45deg) scale(1.1);
}

.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.header:before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 3%;
  height: 8px;
  z-index: 10;
  background-color: #FFFFFF;
}

.left__side {
  display: flex;
  align-items: center;
}
.left__side img {
  border-radius: 50%;
  object-fit: cover;
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
  transition: all 0.3s;
  margin-right: 10px;
}

.person__info h1 {
  margin: 0;
  padding: 0;
  font-size: calc(16px + 0.1vw);
  color: #000000;
}
.person__info p {
  font-size: calc(10px + 0.1vw);
  margin: 0;
  color: green;
}
.person__info p:after {
  content: "•";
  margin-left: 5px;
}

.right_side {
  display: flex;
  align-items: center;
}
.right_side svg {
  transition: all 0.3s;
  width: 24px;
  height: 24px;
  fill: black;
  border-radius: 50%;
  border: 1px solid transparent;
}
.right_side svg:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.notAuth {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notAuth h1 {
  font-weight: 500;
  font-size: calc(16px + 0.5vh);
  padding-right: 20px;
}
.notAuth svg {
  width: calc(24px + 1vw);
  height: calc(24px + 1vw);
}

.emptity__chat {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptity__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptity__content img {
  width: 56px;
  height: 56px;
}
.emptity__content span {
  font-size: 18px;
  position: relative;
  padding: 0 5px;
}
.emptity__content span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 19px;
  border-top: 2px solid #1a73e8;
  border-right: 2px solid #1a73e8;
  border-bottom: 2px solid #1a73e8;
  top: -1px;
  right: 0;
}
.emptity__content span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 19px;
  border-top: 2px solid #1a73e8;
  border-left: 2px solid #1a73e8;
  border-bottom: 2px solid #1a73e8;
  top: -1px;
  left: 0;
}

.input__file {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button__send {
  cursor: pointer;
}

/*# sourceMappingURL=Chat.module.css.map */
