.wrapper {
  width: 65%;
  padding: 0;
  //background-color: var(--background--content);
  border-radius: 0 12px 12px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;

  //border: 1px solid var(--border--block);

  border-left: none;

  @media(max-width: 768px) {
    width: 100%;
    border-radius: 0;
    border: none;
  }

}


.emptity__chat {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 12px 12px 0;
  border-left: none;

}

.emptity__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg{
    color: var(--icon--secondary);
  }
}


.sceletons {
  margin-right: 4px;
  padding: 10px 0;
  overflow-y: auto;
  height: 100%;
}




