.btn__wrapper{
	display: flex;
	cursor: pointer;
	transition: all 0.3s;
	padding: 8px;
	border-radius: 50%;
	svg{
		width: 24px;
		height: 24px;
		color: var(--secondColor);
	}
	&:hover{
		background-color: var(--bgColor);
	}
}