.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	//position: absolute;
	//top: 50%;
	//left: 50%;
	//transform: translate(-50%,-50%);
	min-width: calc(750px + 20vw);


}

.content {
	min-height: calc(636px + 3vw);
	display: flex;
	//justify-content: space-between;
	//min-height: 600px;
	border: 1px solid #aaa;
	border-radius: 10px;
	box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);

	position: relative;
	//background: url("quino-al-BlMj6RYy3c0-unsplash.jpg") center/100% no-repeat;
}

