.form {
	height: 100%;
	form{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}
.wrapper__form{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.description__title{
	text-align: center;
	font-size: 14px;
	color: #aaaaaa;
	margin: 0;
	font-weight: 400;
}

.date__gender {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

}

.wrapper__info{
	display: flex;
	align-items: center;
}

.field_names{
	display: flex;
	flex-direction: column;
	width: 100%;

}

.label__inputs{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 14px;
	color: #aaaaaa;
}


.input__first{
	outline: none;
	padding: 8px 10px;
	background: #202020;
	border: 1px solid #434343;
	color: #FFFFFF;
	border-radius: 0 8px 0 0;
	transition: all .3s;
	cursor: pointer;

	&:focus{
		border: 1px solid #1a73e8;
	}
	&:hover{
		border: 1px solid #1a73e8;


	}
}
.input__last{
	outline: none;
	padding: 8px 10px;
	background: #202020;
	border: 1px solid #434343;
	cursor: pointer;

	color: #FFFFFF;
	border-radius: 0 0 8px 0;
	transition: all .3s;
	&:focus{
		border: 1px solid #1a73e8;
	}
	&:hover{
		border: 1px solid #1a73e8;


	}
}

.label__img{
	display: flex;
	justify-content: center;
	width: 30%;
	span{
		cursor: pointer;

		border-radius: 50%;
		padding: 25px;
		width: 60px;
		height: 60px;
		border: 1px solid #434343;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
		&:hover{

			border: 1px solid #1a73e8;

		}

	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}


}





.btn_submit{
	background: #1a73e8;
	border-radius: 8px;
	border: none;
	width: 100%;
	padding: 8px 10px;
	transition: all .3s;
	cursor: pointer;
	color: #FFFFFF;
	&:disabled{
		color: #aaaaaa;
		//cursor: auto;
		background: #202020;
		box-shadow: none;
		cursor: no-drop;

	}
}

.error__send {
	color: red;
	font-size: 14px;
	width: 100%;
}