.empty__img {
	width: 36px;
	height: 36px;
	color: var(--color--text--main);
	background-color: var(--background--hover);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(14px + 0.1vw);
	margin-right: 10px;

}

.header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid var(--border--block);

	height: 48px;
	@media(max-width: 768px) {
		padding: 10px 5px;
	}
}


.left__side {
	display: flex;
	align-items: center;

}


.arrow__back {
	border-radius: 50%;
	padding: 8px;
	display: flex;
	margin-right: 8px;
	cursor: pointer;

	&:hover {
		background-color: var(--bgColor);
	}
}


.person__info {
	margin-left: 10px;
	display: flex;
	align-items: center;
}