.btn__primaryOutlineColor{
  background-color: transparent;
  border: 1px solid var(--primary--outlineBorder);
  color: var(--primary--outlineColor);

	&:hover{
		background-color: var(--primary--outlineBgHover)
	}

	&:active{
		background-color: var(--primary--outlineBgActive);
	}

}

.btn__successOutlineColor{
  background-color: transparent;
  border: 1px solid var(--success-outlineBorder);
  color: var(--success--outlineColor);

	&:hover{
		background-color: var(--success-outlineBgHover)
	}

	&:active{
		background-color: var(--success-outlineBgActive);
	}

}

.btn__dangerOutlineColor{
	background-color: transparent;
  border: 1px solid var(--danger-outlineBorder);
  color: var(--danger--outlineColor);

	&:hover{
		background-color: var(--danger-outlineBgHover)
	}

	&:active{
		background-color: var(--danger-outlineBgActive);
	}
}



