.wrapper{
	background-color: var(--bgBlocksColor);
	width: 100%;
	color: var(--descriptionColor);
	border-radius: 16px;
	border: 1px solid var(--borderColor);
	padding: 30px 15px;

	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

}

.friends__empty{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	span{
		transition: all 0.3s;
		text-decoration: none;
		color: var(--secondColor);

		&:hover{
			text-decoration: underline;
		}
	}
}



.quantity__friends{
	display: inline-block;
	background-color: var(--navigate-color);
	padding: 6px 16px;
	border-radius: 10px;
	font-size: 13px;
	border: 1px solid var(--borderColor);
	transition: all 0.3s;

	p{
		margin: 0;
		display: inline;
	}
	span{
		margin-left: 5px;
	}

	&:hover{
		background-color: lighten(#303030,5%);
	}
}




@media (max-width: 768px){
	.wrapper{
		border-radius: 0;
		border: none;
		height: calc(100vh - 48px);
	}
	.quantity__friends{
		font-weight: 500;
		border: none;
		border-radius: 0;
		background-color: transparent;
		padding: 5px;
		font-size: 13px;
		color: var(--descriptionColor);
		text-transform: uppercase;
		&:hover{
			background-color: transparent;
		}
	}
	.search__friends{

	}
}