.wrapper__friends{
	width: 100%;
	//padding: 30px 15px 30px 15px;
	//background-color: #282828;
	border-radius: 0 16px 16px 0;
	display: flex;
	flex-direction: column;
}

.my_friends__photo_block{
	display: flex;
	width: 100%;
	//justify-content: space-between;
	color: white;
	.photo{
		width: 55%;
	}

	.friend{
		width: 45%;
	}
}