

.wrapper__navigation {
	transition: all 0.3s;
	width: 280px;
	margin-right: 20px;

}

.nav__content {
	background-color: var(--bgBlocksColor);
	position: sticky;
	top: 10px;
	border-radius: 16px;
	border: 1px solid #434343;
	display: flex;
	flex-direction: column;
	//align-items: center;
	transition: all .3s;
	//padding: 15px 10px;
	padding: 30px 15px;

	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);


}

.list__items {
	display: flex;
	flex-direction: column;
	//padding-top: 30px;

	a {
		text-decoration: none;
	}
}

.list__item {
	transition: all .3s;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	padding: 6px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 10px;


	//&:before {
	//	position: absolute;
	//	content: '';
	//	top: 50%;
	//	left: -15px;
	//	transform: translateY(-50%);
	//	border-radius: 50%;
	//	width: 10px;
	//	height: 10px;
	//	background-color: #1a73e8;
	//}


	svg {
		width: 20px;
		height: 20px;
		transition: all .3s;
	}

	h2 {
		font-size: calc(12px + 0.1vw);
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 10px;
		transition: all .3s;

	}

	img {
		border-radius: 50%;
		object-fit: cover;
		width: 40px;
		height: 40px;
		transition: all .3s;
		border: 1px solid rgba(255, 255, 255, 1);

		&:hover {
			transform: scale(1.1);
		}
	}


	&:hover {
		background-color: var(--secondColor);

	}
}

.profile__icon {
	display: flex;
	align-items: center;

	svg {
		width: 20px;
		height: 20px;
		//fill: #1a73e8;
	}

	h2 {
		font-size: 14px;
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 5px;
	}

}

.name__company {
	//width: 100%;
	//margin-top: 30px;
	//background-color: #fff;
	//border-radius: 8px;
	margin: 0 auto 10px auto;


	span {
		display: flex;
		align-items: center;
		//justify-content: center;
		position: relative;

		//&:before {
		//	position: absolute;
		//	content: '';
		//	border: 1px solid #1a73e8;
		//
		//	border-radius: 10px;
		//	bottom: 10px;
		//	width: 20%;
		//	left: 50%;
		//	transform: translateX(-38%);
		//
		//	animation: width 6s infinite alternate ease-in-out;
		//	@keyframes width {
		//		to {
		//			width: 20%;
		//			border-color: #1a73e8;
		//
		//		}
		//		from {
		//			width: 58%;
		//		}
		//	}
		//}

		h1 {
			font-size: calc(12px + 0.3vw);
			color: #FFFFFF;
			padding-left: 5px;
			//background-image: linear-gradient(90deg, #000000 55%, #1a73e8 40%);
			//-webkit-background-clip: text;
			//-webkit-text-fill-color: transparent;
			margin: 0;
		}

		svg {
			width: 24px;
			height: 24px;
			border-radius: 8px;
			background-color: var(--secondColor);
		}

	}
}

.active {
	li {
		background-color: var(--secondColor);
	}
}