.scroll {
  height: "100%";
  overflow-x: "hidden";
  background-color: #101010;
  &::-webkit-scrollbar-track {
    transition: all 0.3s;
    border-radius: 12px;
  }
  &::-webkit-scrollbar {
    transition: all 0.3s;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    transition: all 0.3s;
    border-radius: 12px;
    background: #404040;
  }
}
