body[data-theme="dark"] {
  --background-itemActive: var(--primary-800);
}
body[data-theme="light"] {
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.item {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-radius: var(--radius-md);
  cursor: pointer;
  padding: 0.5625rem;
  position: relative;
  width: 100%;
  &:hover {
    background-color: var(--background--content--second);
  }

  &__active {
    background: var(--background-itemActive);

    .time {
      color: var(--neutral-50);
    }

    &:hover {
      background-color: var(--background-itemActive);
    }
  }
}

.info__message {
  display: flex;

  width: 100%;
}

.name__lastMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 2;
  margin-left: 10px;
  .last__message {
    margin: 0;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text--secondary);
  }
}

.wrapper__time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 0;

  .quantity__message {
    align-self: flex-end;
    font-size: var(--fontSize-sm);
    line-height: 1.5625rem;
    font-weight: 500;
    width: 18px;
    height: 18px;
    background-color: var(--primary-600);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.writeAMessage {
  align-self: flex-start;
  color: var(--secondColor);
  font-size: calc(10px + 0.2vw);
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}

.time {
  font-size: var(--fontSize-xs);
  color: var(--neutral-600);
}
