.form {
  margin-top: 30px;
  width: 100%;
}

.label__inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: calc(14px + 0.2vw);
}

.date__gender {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.date__gender label {
  margin-bottom: 0;
}

.gender__buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.gender__buttons .label__radios {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-radius: 8px;
}
.gender__buttons .label__radios .input__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  appearance: none;
}
.gender__buttons .label__radios span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  height: 100%;
  margin-top: 1px;
  transition: all 0.3s;
}
.gender__buttons .label__radios span:hover {
  border: 1px solid #1a73e8;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.gender__buttons .label__radios .input__radio:checked + span {
  background-color: #1a73e8;
  color: #FFFFFF;
}

.input__email {
  margin-top: 8px;
  outline: none;
  padding: 9px 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.3s;
}
.input__email:focus {
  border: 1px solid #1a73e8;
}
.input__email:hover {
  border: 1px solid #1a73e8;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.input__password {
  margin-top: 8px;
  outline: none;
  padding: 9px 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.3s;
}
.input__password:focus {
  border: 1px solid #1a73e8;
}
.input__password:hover {
  border: 1px solid #1a73e8;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.input__date {
  margin-top: 8px;
  outline: none;
  padding: 9px 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.3s;
}
.input__date:focus {
  border: 1px solid #1a73e8;
}
.input__date:hover {
  border: 1px solid #1a73e8;
  transform: scale(1.02);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn_submit {
  background: #1a73e8;
  border-radius: 9px;
  border: none;
  width: 100%;
  color: #FFFFFF;
  padding: 12px 10px;
  transition: all 0.3s;
}
.btn_submit:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.btn_submit:disabled {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  box-shadow: none;
}

.btn__desc {
  color: #4F4F4F;
  font-size: calc(12px + 0.2vw);
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.btn__desc a {
  text-decoration: none;
  color: #1a73e8;
  outline: none;
}

.error__send {
  color: red;
  font-size: calc(14px + 0.2vw);
}

@media (max-width: 900px) {
  .form {
    backdrop-filter: blur(10px);
  }
}

/*# sourceMappingURL=RegistrationForm.module.css.map */
