.form {
	margin-top: 30px;
	width: 100%;
}


.label__inputs {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: calc(14px + 0.2vw);
}

.date__gender {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;

	label {
		margin-bottom: 0;
	}

}

.gender__buttons {
	display: flex;
	width: 100%;
	justify-content: space-evenly;

	.label__radios {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		border-radius: 8px;


		.input__radio {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			border: 0;
			padding: 0;
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
			appearance: none;

		}

		span {
			border: 1px solid rgba(0, 0, 0, 0.2);
			padding: 10px;
			border-radius: 8px;
			height: 100%;
			margin-top: 1px;
			transition: all .3s;
			&:hover{
				border: 1px solid #1a73e8;
				transform: scale(1.02);
				box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
			}
		}

		.input__radio:checked + span {
			background-color: #1a73e8;
			//box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4) inset;
			color: #FFFFFF;
		}


	}
}


.input__email {

	margin-top: 8px;
	outline: none;
	padding: 9px 10px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);

	border-radius: 8px;
	transition: all .3s;

	&:focus {
		border: 1px solid #1a73e8;
	}

	&:hover {
		border: 1px solid #1a73e8;

		transform: scale(1.02);
		box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);

	}
}

.input__password {
	margin-top: 8px;
	outline: none;

	padding: 9px 10px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: all .3s;

	&:focus {
		border: 1px solid #1a73e8;


	}

	&:hover {
		border: 1px solid #1a73e8;

		transform: scale(1.02);
		box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);


	}

}

.input__date {
	margin-top: 8px;
	outline: none;

	padding: 9px 10px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: all .3s;

	&:focus {
		border: 1px solid #1a73e8;


	}

	&:hover {
		border: 1px solid #1a73e8;

		transform: scale(1.02);
		box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);


	}
}


.btn_submit {
	background: #1a73e8;
	border-radius: 9px;
	border: none;
	width: 100%;
	color: #FFFFFF;
	padding: 12px 10px;
	transition: all .3s;

	&:hover {
		transform: scale(1.02);
		box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
	}
	&:disabled{
		background: rgba(0,0,0,0.2);
		transform: scale(1);
		box-shadow: none;


	}
}

.btn__desc {

	color: #4F4F4F;
	font-size: calc(12px + 0.2vw);
	width: 100%;
	margin-top: 6px;
	display: flex;
	justify-content: space-between;

	a {
		text-decoration: none;
		color: #1a73e8;
		outline: none;
		//&:focus{
		//	border: 1px solid #3f3838;
		//	border-radius: 4px;
		//}
	}
}


.error__send {
	color: red;
	font-size: calc(14px + 0.2vw);

}

@media (max-width: 900px) {
	.form {
		backdrop-filter: blur(10px);

	}
}