.dialog__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
}

.wrapper__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--background--content);
	border-radius: 12px;
	min-width: 500px;
	max-width: 638px;
	min-height: 345px;
	max-height: 735px;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 20px;
	border-bottom: 1px solid var(--border--block);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color--text--main);

	.dialog__title {
		margin: 0;
		font-size: 14px;
		font-weight: var(--fontWeight);
	}
}

.content {
	flex: 1 0 auto;
	max-height: 600px;
	overflow-y: auto;
	position: relative;
	padding: 10px 40px;
}

.footer {
	flex: 0 0 auto;
	padding: 15px 20px;
	border-top: 1px solid var(--border--block);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}