.wrapper__recipient{
  text-align: right;

  .current__message__left {
    display: none;
    opacity: 0.5;
    color: var(--secondColor);
    position: absolute;
    top: 10px;

  }

  &:hover {

    .current__message__left {
      display: flex;
    }
  }


}

.wrapper__recipient__active{
  background-color: var(--background--hover);

  .current__message__left {
    display: flex;
    opacity: 1;

    color: var(--secondColor);
    position: absolute;
    top: 10px;

  }

}



.message{
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
  text-align: justify;
  display: inline-block;
  max-width: 80%;
  background: var(--background--block--message);
  padding: 6px 10px;
  color: var(--color--text--main);
  line-height: 18px;
  position: relative;
  font-size: 13px;
  border-radius: 10px 8px 0 10px;
}

.message__info{
  word-break: normal;
  position: relative;
  width: 25px;
  font-size: 10px;
  white-space: nowrap;
  font-weight: 300;
  color: var(--decription-color);
  display: flex;

  top: 7px;
  bottom: auto !important;
  float: right;
  margin-left: 0.4375rem;
}

.scroll__block{
  &:last-child{
    display: block;
    height: 40px;
  }
}