:root {
  --primary-50: #e3f2ff;
  --primary-100: #bbdeff;
  --primary-200: #8dcaff;
  --primary-300: #5cb5ff;
  --primary-400: #34a4ff;
  --primary-500: #0095ff;
  --primary-600: #1386fc;
  --primary-700: #1a73e8;
  --primary-800: #1d61d5;
  --primary-900: #1f41b6;

  --neutral-50: #f5f7fa;
  --neutral-100: #eaeef6;
  --neutral-200: #dde7ee;
  --neutral-300: #cdd7e1;
  --neutral-400: #9fa6ad;
  --neutral-500: #636b74;
  --neutral-600: #555e68;
  --neutral-700: #32383e;
  --neutral-800: #23272b;
  --neutral-900: #121416;

  --danger-50: #fef6f6;
  --danger-100: #fce4e4;
  --danger-200: #f7c5c5;
  --danger-300: #f09898;
  --danger-400: #e47474;
  --danger-500: #c41c1c;
  --danger-600: #a51818;
  --danger-700: #7d1212;
  --danger-800: #430a0a;
  --danger-900: #240505;

  --success-50: #f6fef6;
  --success-100: #e3fbe3;
  --success-200: #c7f7c7;
  --success-300: #a1e8a1;
  --success-400: #51bc51;
  --success-500: #1f7a1f;
  --success-600: #136c13;
  --success-700: #0a470a;
  --success-800: #042f04;
  --success-900: #021d02;

  --warning-50: #fff3e3;
  --warning-100: #fedfb9;
  --warning-200: #feca8d;
  --warning-300: #fdb563;
  --warning-400: #fca549;
  --warning-500: #fa973b;
  --warning-600: #f58c39;
  --warning-700: #ed7e35;
  --warning-800: #e57033;
  --warning-900: #db582d;
}
