.img {
  border-radius: 50%;
  object-fit: cover;
}

.empty__img{
  background-color: var(--secondColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

@media (max-width: 768px) {

  .empty__img{
    width: 44px;
    height: 44px;
    font-size: 16px;
  }

  img{
    width: 44px;
    height: 44px;
  }
}


