.wrapper__forward__msg {
	margin: 10px 58px 0 58px;
	border-left: 2px solid var(--border--block);
	position: relative;

	.close__btn {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.forward__content {
	margin-left: 8px;
	display: flex;
	flex-direction: column;

}
.message__forward {
	outline: 0;
	padding: 0;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	display: block;
	margin-top: 6px;
}

.name__time {
	color: var(--secondColor);
	display: flex;
	align-items: center;

}
.message__time {
	color: var(--decription-color);
	margin-left: 6px;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-size: 11px;
	opacity: .7;
	vertical-align: top;
	display: inline-block;
}