.wrapper {

	width: 35%;
	border-radius: 16px 0 0 16px;

	padding: 30px 15px 30px 15px;
	//background-color: #202020;

	border: 1px solid #434343;

	.text{
		display: block;
		color: #FFFFFF;
		margin-bottom: 20px;
	}

	@media (max-width: 768px) {
		flex-grow: 1;
		box-shadow: none;
		border-radius: 0;
	}



}

