.wrapper {

  width: 35%;
  border-radius: 16px 0 0 16px;
  position: relative;
  background-color: var(--bgBlocksColor);
  padding: 30px 15px;

  border: 1px solid #434343;

  .text {
    display: block;
    color: #FFFFFF;
    margin-bottom: 20px;
  }


}

