
.block__search {
	position: relative;

	svg {
		fill: var(--text--secondary);
		position: absolute;
		width: 14px;
		height: 14px;
		top: 50%;
		transform: translateY(-50%);
		right: 4%;
		transition: all .3s;
		pointer-events: none;
	}

	
	input {
		&:focus + svg {
			fill: var(--secondColor);
		}
	}

	&:hover {
		input {
			border: 1px solid var(--secondColor);
		}

		svg {
			fill: var(--secondColor);
		}

	}


}
