.wrapper__message {

	white-space: pre-line;
	display: inline-block;
	background: var(--background--block--message);
	padding: 6px 10px;
	color: var(--color--text--main);
	max-width: 80%;
	word-break: break-word;
	word-wrap: break-word;
	line-height: 18px;
	position: relative;
	font-size: 13px;
	border-radius: 8px 10px 10px 0;
	text-align: justify;

}




.message__time{
	white-space: nowrap;
	word-break: normal;
	font-size: .75rem;
	font-weight: 300;
	color: var(--decription-color);
	display: flex;
	position: relative;
	// width: 25px;
	top: 7px;
	bottom: auto !important;
	float: right;
	margin-left: 0.4375rem;
}


@media(max-width: 768px){
	.wrapper__message{
		max-width: 98%;

	}
}