.message__enter_date {
  text-align: center;
  position: sticky;
  top: 5px;
  z-index: 12;
  user-select: none;
  pointer-events: none;
  &:not(:last-child) {
    margin: 10px 0;
  }

  padding: 0 10px;
}

.date__block {
  display: inline-block;
  margin: 0;
  padding: 5px;
  font-size: 10px;
  border-radius: 10px;
  background: var(--background--content--secondary);
  width: 70px;
}