//.overlay{
//	transition: all .3s;
//	position: fixed;
//	top: 0;
//	bottom: 0;
//	left: 0;
//	right: 0;
//	opacity: 0;
//}
//.overlay__active{
//	transition: all .3s;
//	position: fixed;
//	top: 0;
//	bottom: 0;
//	left: 0;
//	right: 0;
//	z-index: 100;
//	background-color: rgba(0,0,0,0.4);
//	opacity: 1;
//}

.wrapper__navigation {
	//transition: all 0.3s;
	//background-color: transparent;

	transition: all 0.3s;
	width: 280px;
	margin-right: 20px;


	//background-color: #212121;
}

//.wrapper__navigation__active{
//	transition: all 0.3s;
//	width: 300px;
//	background-color: #212121;
//	//position: absolute;
//	//top: 0;
//	//left: 0;
//	//bottom: 0;
//	//border-radius: 9px 0 0 9px;
//	//padding: 0 10px;
//	//z-index: 100;
//	//opacity: 1;
//}

.nav__content {
	border-radius: 12px;

	border: 1px solid #202020;

	display: flex;
	//justify-content: space-between;
	flex-direction: column;
	align-items: center;
	//height: 100%;
	transition: all .3s;
	padding: 15px 10px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);


}

.list__items {
	display: flex;
	flex-direction: column;
	//padding-top: 30px;

	a {
		text-decoration: none;
	}
}

.list__item {
	transition: all .3s;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	padding: 6px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;


	//&:before {
	//	position: absolute;
	//	content: '';
	//	top: 50%;
	//	left: -15px;
	//	transform: translateY(-50%);
	//	border-radius: 50%;
	//	width: 10px;
	//	height: 10px;
	//	background-color: #1a73e8;
	//}


	svg {
		width: 20px;
		height: 20px;
		transition: all .3s;
	}

	h2 {
		font-size: calc(12px + 0.1vw);
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 10px;
		transition: all .3s;

	}

	img {
		border-radius: 50%;
		object-fit: cover;
		width: 40px;
		height: 40px;
		transition: all .3s;
		border: 1px solid rgba(255, 255, 255, 1);

		&:hover {
			transform: scale(1.1);
		}
	}


	&:hover {
		background-color: #1a73e8;

	}
}

.profile__icon {
	display: flex;
	align-items: center;

	svg {
		width: 20px;
		height: 20px;
		//fill: #1a73e8;
	}

	h2 {
		font-size: 14px;
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 5px;
	}

}

.name__company {
	//width: 100%;
	//margin-top: 30px;
	//background-color: #fff;
	//border-radius: 8px;
	margin: 0 auto;

	span {
		display: flex;
		align-items: center;
		//justify-content: center;
		position: relative;

		//&:before {
		//	position: absolute;
		//	content: '';
		//	border: 1px solid #1a73e8;
		//
		//	border-radius: 10px;
		//	bottom: 10px;
		//	width: 20%;
		//	left: 50%;
		//	transform: translateX(-38%);
		//
		//	animation: width 6s infinite alternate ease-in-out;
		//	@keyframes width {
		//		to {
		//			width: 20%;
		//			border-color: #1a73e8;
		//
		//		}
		//		from {
		//			width: 58%;
		//		}
		//	}
		//}

		h1 {
			font-size: calc(12px + 0.3vw);
			color: #FFFFFF;
			padding-left: 5px;
			//background-image: linear-gradient(90deg, #000000 55%, #1a73e8 40%);
			//-webkit-background-clip: text;
			//-webkit-text-fill-color: transparent;

		}

		svg {
			width: 24px;
			height: 24px;
			animation: logo 6s infinite alternate ease-in-out;
			//margin-right: 10px;
			@keyframes logo {
				to {
					transform: rotate(0deg);
				}
				from {
					transform: rotate(360deg);

				}
			}
		}

	}
}

.active {
	li {
		background-color: #1a73e8;
	}
}