



.wrapper__navigation {
	//width: 25%;
	background-color: rgba(0, 0, 0, 0.8);
	display: inherit;
	align-items: center;
	border-radius: 9px 0 0 9px;
	padding: 0 10px;
	transition: all .3s;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1) inset;

}

.nav__content {
	display: flex;
	//justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 100%;
	transition: all .3s;






}

.list__items {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	a{
		text-decoration: none;
	}
}

.list__item {
	transition: all .3s;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-bottom: 20px;
	padding: 6px;
	position: relative;
	border-radius: 10px;
	&:before{
		position: absolute;
		content: '';
		top: 50%;
		left: -15px;
		transform: translateY(-50%);
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: #1a73e8;
	}


	svg {
		width: 20px;
		height: 20px;
		transition: all .3s;
	}
	h2{
		font-size: calc(12px + 0.3vw);
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 5px;
		transition: all .3s;

	}
	img{
		border-radius: 50%;
		object-fit: cover;
		width: 36px;
		height: 36px;
		transition: all .3s;
		border: 1px solid rgba(255,255,255,1);
		&:hover{
			transform: scale(1.1);
		}
	}


	&:hover{
		background-color: #1a73e8;

	}
}

.profile__icon{
	display: flex;
	align-items: center;
	svg {
		width: 20px;
		height: 20px;
		//fill: #1a73e8;
	}
	h2{
		font-size: 14px;
		font-weight: 400;
		color: #FFFFFF;
		margin: 0;
		padding-left: 5px;
	}

}
.name__company{
	width: 100%;
	margin-top: 30px;
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			border: 1px solid #FFFFFF;

			border-radius: 10px;
			bottom: 10px;
			width: 20%;
			left: 50%;
			transform: translateX(-38%);

			animation: width 6s infinite alternate ease-in-out;
			@keyframes width {
				to{
					width: 20%;
					border-color:#1a73e8;

				}
				from{
					width: 58%;
				}
			}
		}

		h1{
			font-size: calc(12px + 0.3vw);
			color: #FFFFFF;
			background-image: linear-gradient(135deg,#fff 45%, #1a73e8 45%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

		}
		img{
			width: 24px;
			height: 24px;
			animation: logo 6s infinite alternate ease-in-out;

			@keyframes logo {
				to {
					//opacity: 0.2;
					transform: rotate(0deg);
				}
				from {
					//opacity: 1;
					transform: rotate(360deg);

				}
			}
		}

	}
}