.wrapper__friends{
  width: 100%;
  color: #ffffff;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  padding: 30px 15px;
  background-color: var(--bgBlocksColor);
  h1{
    color: var(--descriptionColor);
    font-size: 14px;
    margin: 0;

    span{
      color: var(--secondDescription);
    }
  }
}
.items{
  --gap: 0px;
  --elements: 4;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: var(--gap);
  width: 100%;
}


@media (max-width: 768px){
  .wrapper__friends{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 12px;
    background-color: #19191a;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .items{
    display: inline-flex;
    margin: 0;
    flex-wrap: nowrap;
    width: auto;
  }
}
