
.dialog__overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}

.wrapper__content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #202020;
	padding: 20px;
	border-radius: 12px;

	.dialog__title{
		margin: 0;
		margin-bottom: 10px;
		font-size: 16px;
		color: #FFFFFF;
	}



	form{
		display: flex;
		flex-direction: column;
		textarea{
			margin-top: 20px;
			background: rgba(255, 255, 255, 0.0605);
			color: #FFFFFF;
			resize: none;
			outline: none;
			border-radius: 8px;
			padding: 5px;
			border: 1px solid #202020;
		}
		button{
			margin-top: 20px;
			align-self: flex-end;
			color: #FFFFFF;
			background-color: var(--secondColor);
			padding: 8px;
			border-radius: 8px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover{
				background-color: darken(#1A73E8,10%);
			}
			&:active{
				background-color: darken(#1A73E8,15%);
			}
			&:focus{
				background-color: darken(#1A73E8,10%);
			}
		}
	}
}

.wrapper__info__user{
	display: flex;
	align-items: center;
	img{
		width:50px;
		height: 50px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 10px;
	}
	.info__user{
		h3{
			color: #FFFFFF;
			font-size: 16px;
		}
	}
}
