.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
