

.container {
	margin: 20px auto;
	width: 1076px;
	position: relative;
	display: flex;
	height: 95vh;
	@media (max-width: 768px) {
		width: 100%;
		margin: 0;
		height: 100vh;
	}
}

.content {
	width: 100%;
	display: flex;
	position: relative;
	@media (max-width: 768px) {
		width: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
}
