.wrapper__company {
  display: flex;
  align-items: center;

  .title{
    color:var(--color-title);
    font-size: var(--fontSize-xl4);
  }

  .icon__title {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__column {
    flex-direction: column;
    justify-content: center;
    .icon__title {
      margin-right:0;
      margin-bottom: 20px;
    }
  }
}
