.button__primary {
	font-size: 13px;
	font-weight: 500;
	background-color: var(--background--accent);
	padding: 7px 10px;
	border-radius: var(--borderRadiusButton);
	transition: all 0.3s;
	color: var(--background--content);
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;

	&:hover {
		background-color: var(--background--accent--hover);
	}

	&:focus {
		outline: var(--secondColor);
	}

	&:active {
		background-color: var(--background--content--active);
		//transform: translateY(1px);

	}

	&:disabled {
		color: #aaaaaa;
		cursor: auto;
		background: #202020;
		box-shadow: none;
	}

}

.button__second {
	font-size: 13px;
	font-weight: 500;
	display: inline-block;
	background-color: var(--background--content--second);
	padding: 7px 10px;
	border-radius: var(--borderRadiusButton);
	transition: all 0.3s;
	color: var(--color--text--main);
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;

	&:hover {
		background-color: var(--background--hover);
	}

	&:active {
		background-color: var(--background--content--secondary--active);
	}

	&:focus {
		outline: var(--secondColor);
	}

}