.btn__default{
	min-height: 2rem;
	min-width: 2rem;
	border-radius: var(--borderRadiusButton);
	transition: all 0.3s;
	outline: 2px solid transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	font-weight: 600;
	font-size: var(--fontSize-sm);

	padding-block: 0.25rem;
  padding-inline: 1rem;

	&:focus {
		outline-offset: var(--outline-focus-offset);
		outline: var(--outline-focus);
	}

	&:disabled {
		color: var(--text--secondary);
		cursor: no-drop;
		background: var(--background--block--message) !important;
		box-shadow: none;
	}
}

.btn__primary{
	background-color: var(--background--accent);
	color: var(--color--text--inverse);
	&:hover {
		background-color: var(--background--accent--hover);
	}

	&:active {
		background-color: var(--background--content--active);
	}
}

.btn__outline{
	background-color: transparent;
	border: 1px solid #E1E3E6;
	color: var(--color--text--main);

	&:hover {
		background-color: var(--background--hover);
	}

	&:active {
		background-color: var(--background--content--secondary--active);
	}

}

.btn__fullWidth{
	display: flex;
	width: 100%;
}

.btn__success{
	background-color: var(--color--green);
	color: var(--color--text--main);
	&:hover{
		background-color: var(--color--darken--green);
	
	}
}
.btn__danger{
 background-color: var(--color--red);
}



.content__btn {
	display: flex;
	align-items: center;
	min-height: inherit;
	min-width: inherit;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}


.leftIcon {
	display: inherit;
	margin-right: 0.5rem;
	svg{
		width: 1.5rem;
		height: 1.5rem;
	}
}

.single__icon{
	padding-block: 0;
  padding-inline: 0.25rem;
	svg{
		width: 1.5rem;
		height: 1.5rem;
	} 	
}


.children{
	padding: 0 8px;
}


.rightIcon {
	display: inherit;
	margin-left: 0.5rem;
	svg{
		width: 1.5rem;
		height: 1.5rem;
	}
}