.wrapper__recipient {
	text-align: right;

	.current__message__left {
		display: none;
		opacity: 0.5;
		color: var(--secondColor);
		position: absolute;
		top: 10px;

	}

	&:hover {

		.current__message__left {
			display: flex;
		}
	}

}

.wrapper__recipient__active {
	background-color: var(--background--hover);

	.current__message__left {
		display: flex;
		opacity: 1;

		color: var(--secondColor);
		position: absolute;
		top: 10px;

	}

}

.wrapper__sender {
	text-align: left;

	.current__message__right {
		color: var(--secondColor);
		opacity: 0.5;
		display: none;
		position: absolute;
		top: 10px;
		right: 0;

	}

	&:hover {
		.current__message__right {
			display: flex;
			flex-direction: row-reverse;
		}
	}

}

.wrapper__sender__active {
	background-color: var(--background--hover);

	.current__message__right {
		opacity: 1;
		color: var(--secondColor);
		display: flex;
		flex-direction: row-reverse;
		position: absolute;
		top: 10px;
		right: 0;

	}
}


.wrapper__forward {
	padding: 6px 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.08);
	white-space: pre-line;
	color: var(--color--text--main);
	max-width: 80%;
	word-break: break-word;
	word-wrap: break-word;
	line-height: 18px;
	position: relative;
	font-size: 13px;
	border-radius: 10px 8px 0 10px;
	text-align: justify;
}

.content__message {
	margin-top: 6px;
	border-left: 2px solid var(--text--accent--light);
	border-radius: 2px;
}

.name__time {
	display: flex;
	align-items: center;

}

.message__info {
	word-break: normal;
	font-size: 10px;
	font-weight: 300;
	color: var(--decription-color);
	display: flex;
	position: relative;
	width: 25px;
	top: 7px;
	bottom: auto !important;
	float: right;
	margin-left: 0.4375rem;

}

.message__forward__time {
	word-break: normal;
	font-size: 10px;
	font-weight: 300;
	color: var(--decription-color);
	margin-left: 4px;

}

.message__wrapper {
	margin-left: 8px;
	&:not(:first-child){
		margin-top: 5px;
	}
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 550px;

	&::-webkit-scrollbar-track {
		border-radius: 4px;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: rgba(255, 255, 255, 0.5442);
	}
}

.message {
	margin-top: 4px;
	white-space: pre-line;
	display: inline-block;
	color: var(--color--text--main);
	max-width: 95%;
	word-break: break-word;
	word-wrap: break-word;
	line-height: 18px;
	position: relative;
	font-size: 13px;
	border-radius: 8px 10px 10px 0;
	text-align: justify;
}




