.wrapper__nav{
	border: 1px solid #434343;
	padding: 30px 15px;
	border-radius: 16px;
	margin-bottom: 20px;
}

.nav__items{

	&:not(:last-child){
		margin-bottom: 4px;
	}
	a{
		width: 100%;
		color: #e1e3e6;
		font-size: 14px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 12px;
		border-radius: 8px;
		transition: all 0.3s;
		&:hover{
			background-color: #202020;
		}

	}

	.friend__requests{
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		margin: 0;
	}

	.quantity__requests{
		color: #000000;
		background-color: white;
		border-radius: 50%;
		padding: 1px 5px 0 5px;
	}


	.search__friends{
		padding: 10px 12px;
		font-size: 14px;
		color: #e1e3e6;
		border-radius: 8px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover{
			background-color: #202020;

		}

	}
}

.active{
	background-color: #202020;
}