.wrapper__nav{
	border: 1px solid var(--borderColor);
	padding: var(--paddingBlock);
	border-radius: var(--borderRadiusBlock);
	margin-bottom: var(--marginBlock);
	background-color: var(--bgBlocksColor);
}

.nav__items{

	&:not(:last-child){
		margin-bottom: 4px;
	}
	a{
		width: 100%;
		color: #e1e3e6;
		font-size: 13px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 12px;
		border-radius: 8px;
		transition: all 0.3s;
		&:hover{
			background-color: var(--navigate-color);
		}

	}

	.friend__requests{
		font-size: 13px;
		font-weight: 400;
		text-decoration: none;
		margin: 0;
	}

	.quantity__requests{
		color: var(--descriptionColor);
		background-color: var(--secondColor);
		border-radius: 50%;
		padding: 1px 5px 0 5px;
	}


	.search__friends{
		padding: 10px 12px;
		font-size: 13px;
		color: #e1e3e6;
		border-radius: 8px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover{
			background-color: var(--navigate-color);

		}

	}
}

.active{
	background-color: var(--navigate-color);
}


@media (max-width: 768px){
	.wrapper__nav{
		margin: 0;
		padding-bottom: 0;
		border: none;
		border-radius: 0;

	}
}