
.wrapper__attachments__images {
  cursor: pointer;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
  img {
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper__image {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
	// max-height: 300px !important;
  img {
    border-radius: 6px;
    vertical-align: top;
    border-style: none;
    width: 100%;
    height: 100%;
    display: block;
    // object-fit: cover;
    max-width: 100%;
    overflow: hidden;
  }

	

	&:not(:first-child){
		margin: 6px 6px 0 0;
	}

	&:last-child{
		margin: 6px 0 0 0;
	}


}



.loader {
  display: inline-block;
  background: var(--background--content--second);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  animation: loading 2s infinite alternate;

  @keyframes loading {
    from {
      background: var(--text--accent--light);
    }
    to {
      background: var(--background--content--second);
    }
  }
}
