.action__input {
  color: var(--input-color);
  font-size: var(--fontSize-md);
  font-weight: 400;
  transition: all 0.3s;
  min-height: 2.5rem;
  outline: none;
  width: 100%;
  border: 2px solid transparent;
  background: var(--input-Bg);
  border-radius: var(--radius-md);
  padding-inline: 0.75rem;
  line-height: normal;
  &:hover {
    border-color: var(--input-borderColor);
    ~ .input__icon svg {
      fill: var(--input-borderColor);
    }
  }

  &:focus {
    border-color: var(--input-borderColor);
  }

  &:focus + .input__icon svg {
    fill: var(--input-borderColor);
  }
}

.control__block {
  position: relative;
  width: 100%;
}

.input__icon {
  display: flex;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  cursor: text;
  user-select: none;
  pointer-events: none;
  svg {

    width: 1.5rem;
    height: 1.5rem;
  }
}
