.radio__item{
	list-style: none;
	cursor: pointer;
	display: flex;
	align-items: center;

	&:not(:last-child){
		margin: 10px 0;
	}
}

.not__select{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 2px solid var(--border--block);
}