
.block__search {
	position: relative;

	svg {
		fill: #828282;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		transform: translateY(-50%);
		right: 3%;
		transition: all .3s;
		z-index: 12;
		//margin-right: 15px;
	}

	input {
		border: 1px solid #434343;
		background: #202020;
		border-radius: 6px;
		outline: none;
		transition: all .3s;
		width: 100%;
		//opacity: 0;
		padding: 8px 35px 8px 12px;
		color: #FFFFFF;
		font-size: 14px;

		&:focus {
			border: 1px solid var(--secondColor);

		}
		&:focus + svg{
			fill: var(--secondColor);
		}


	}

	&:hover{
		svg{
			fill: var(--secondColor);
		}
		input{
			border: 1px solid var(--secondColor);

		}
	}


}
