
*,html,body{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0f0f0f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bgBlocksColor: #131313;
  --primaryColor: #ffffff;
  --descriptionColor: #e1e3e6;
  --secondDescription: #828282;
  --secondColor: #1a73e8;
  --borderColor: #434343;
  --bgColor: #202020;
  --decription-color: #888888;
  --navigate-color: #303030
}

