.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	height: 456px;

}

.wrapper__content {
	position: relative;

	background-color: var(--background--content);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wrapper__form {
	padding: 30px 15px;


}

.arrow__back {
	position: absolute;
	top: 15px;
	left: 10px;
	border-radius: 4px;
	transition: all .3s;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px;
	svg {
		transition: all .3s;
	}

	&:hover {
		background: var(--background--hover);

		svg {
			transform: translateX(-1px);
		}
	}
}
