
.message {
	text-align: right;
	&:not(:last-child){
		margin-bottom: 50px;
	}
	padding: 0 15px;

	span {
		background-color: #1a73e8;
		border-radius: 16px;
		padding: 6px 16px;
		color: #FFFFFF;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background-color: #1a73e8;
			border-radius: 50%;
			right: -12px;
			bottom: -6px;
		}

		.message__time{
			position: absolute;
			bottom: -16px;
			right: 10px;
			font-size: 12px;
			font-weight: 300;
			color: #707070;

		}
	}
}