.popover__wrapper{
	position: relative;
	color: var(--color--text--main);
}

.popover__btn{
	//position: relative;
	//right: 20px;
	color: var(--icon--secondary);
	svg{
		transition: all .3s;
		&:hover{
			cursor: pointer;
			color: var(--color--text--main);
		}

	}
}
.popover__panel{
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 13;
	width: 200px;
}
.list{
	svg{
		font-size: 20px;
		color: var(--text--accent);
		margin-right: 10px;
	}
}

.item{
	margin: 4px 0;

	display: flex;
	align-items: center;
	height: 26px;
	cursor: pointer;
	transition: all .3s;
	padding: 0 10px;
	&:hover{
		background-color: var(--background--content--secondary--hover);
	}
}